#
# Tiny Duino Board JTAG communication setup
#

set  _ENDIAN little
set _TAP_TYPE 1234

if { [info exists CPUTAPID] } {
   set _CPUTAPID $CPUTAPID
} else {
  # set useful default
   set _CPUTAPID 0x10001fff
}

adapter speed 800
adapter srst delay 260
jtag_ntrst_delay 250

set _CHIPNAME fpga_spinal
jtag newtap $_CHIPNAME bridge -expected-id $_CPUTAPID -irlen 4 -ircapture 0x1 -irmask 0xF

set _TARGETNAME $_CHIPNAME.cpu0
target create $_TARGETNAME vexriscv -endian $_ENDIAN -chain-position $_CHIPNAME.bridge -coreid 0 -dbgbase 0xF00F0000
vexriscv readWaitCycles 12

# SET THE CORRECT DIRECTORY HERE!
vexriscv cpuConfigFile cpu0.yaml

poll_period 50

#set can-use-hw-watchpoints 0
#gdb_breakpoint_override hard
$_TARGETNAME configure -work-area-phys 0x80000000 -work-area-size 0x2C000 -work-area-backup 0
$_TARGETNAME configure -work-area-phys 0x40000000 -work-area-size 0x4000000 -work-area-backup 0

init
soft_reset_halt
